*{
  /*margin:0;
  padding:0px;
  border:0;*/
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  font-style:inherit;
  text-decoration:inherit;
  line-height:inherit;
  color:inherit;
}
h1{
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
  letter-spacing: 5px;
  font-family: EVILDEAD;
  text-align: center;
  font-size: 65px;
  text-shadow: 0px 5px #AFAFAF;
  margin-top: 0px;
  margin-bottom: 25px;
  padding-top: 25px;
  transition: letter-spacing 2s, text-shadow 2s;
  transition: letter-spacing ease-out 2s, text-shadow ease-out 2s;
}
h1:hover {
  letter-spacing: 20px;
  text-shadow: 0px 0px 15px #FF0034;
}
@font-face {
    font-family: EVILDEAD;
    src: url(EVILDEAD.TTF);
}
html{
  color: white;
  background-color: black;
}
.body, .copy{
  background-color: white;
  border-right: 10px ridge #AFAFAF;
  border-left: 10px groove #AFAFAF;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 125px;
  margin-right: 125px;
  font-size: 10px;
  color: black;
  text-align: center;
}
.copy{
  padding-top: 25px;
  padding-bottom: 25px;
}
nav{
  padding-top: 10px;
}
.text{
  font-weight: bold;
  padding: 10px
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  font-size: 20px;
  margin-left: 125px;
  margin-right: 125px;
}
.matt{
  box-shadow: 0 0 25px #AFAFAF;
  border: 3px outset #21252B;
  border-radius: 25px;
  height: 300px;
}
nav ul {
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}
.icon i {
  color: #21252B;
  font-size: 60px;
  margin-right: 30px;
  margin-left: 30px;
  transition: text-shadow ease-out 1s;
}
.icon i:hover{
  cursor: pointer;
  text-shadow: 0 0 15px #FF0034;
}
li {
  display: inline;
}
div.linebreak{
  width: 750px;
  border-top: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}
main{
  margin-top: 25px;
  font-size: 30px;
  text-align: center;
}
ul, menu, dir {
    -webkit-padding-start: 0px;
}
.galink{
  cursor: pointer;
}
