*{
  /*margin:0;
  padding:0px;
  border:0;*/
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  font-style:inherit;
  text-decoration:inherit;
  line-height:inherit;
  color:inherit;
}
h1{
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
  letter-spacing: 5px;
  font-family: EVILDEAD;
  text-align: center;
  font-size: 65px;
  text-shadow: 0px 5px #AFAFAF;
  margin-top: 0px;
  margin-bottom: 25px;
  padding-top: 15px;
  transition: letter-spacing 2s, text-shadow 2s;
  transition: letter-spacing ease-out 2s, text-shadow ease-out 2s;
  cursor: default;
}
h2{
  padding-bottom: 25px;
  font-size: 30px;
  font-weight: bolder;
  margin: 0px;
}
h3{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}
h4{
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
}
.project_img, .project_imgs{
  box-shadow: 0 0 25px #AFAFAF;
  width: 420px;
  border: 2px solid black;
  border-radius: 25px;
}
.project_imgs{
  margin-top: 25px;
}
#kurt{
  margin-top: 25px;
}
.ios{
  box-shadow: 0 0 25px #AFAFAF;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
}
h1:hover {
  letter-spacing: 20px;
  text-shadow: 0px 0px 15px #FF0034;
}
@font-face {
    font-family: EVILDEAD;
    src: url(EVILDEAD.TTF);
}
html{
  color: white;
  background-color: black;
}

.wrapper {
  background-color: white;
  width: 75%;
  margin:0 auto;
  border-right: 10px ridge #AFAFAF;
  border-left: 10px groove #AFAFAF;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}
.projectpage{
  background-color: white;
  width: 75%;
  margin:0 auto;
  border-right: 10px ridge #AFAFAF;
  border-left: 10px groove #AFAFAF;
}
.body{
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
  color: black;
  text-align: center;
}
nav{
  padding-top: 10px;
}
.text{
  font-weight: bold;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  font-size: 20px;
  margin-left: 125px;
  margin-right: 125px;
}
.matt{
  box-shadow: 0 0 25px #AFAFAF;
  border: 3px outset #21252B;
  height: 300px;
}
nav ul {
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}
.icon i {
  color: #21252B;
  font-size: 60px;
  margin-right: 30px;
  margin-left: 30px;
  transition: text-shadow ease-out .5s;
}
.icon i:hover{
  cursor: pointer;
  text-shadow: 0 0 15px #FF0034;
}
li {
  display: inline;
}
.linebreak, .linebreak2, .linebreak3 {
  width: 750px;
  border-top: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}
.linebreak2{
  margin-top: 15px;
  padding-bottom: 15px;
}
.linebreak3{
  width: 200px;
}
.projects{
  text-align: center;
  padding-bottom: 20px;
}
.toplinks{
  font-weight: bold;
  font-size: 20px;
}
main{
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
}
ul, menu, dir {
    -webkit-padding-start: 0px;
}
.galink{
  cursor: pointer;
}
p{
  font-size: 14px;
  margin: 0px;
}
.res{
  font-size: 20px;
  margin: 0px;
  cursor: pointer;
  text-decoration: underline;
}
.gitlinks{
  font-size: 10px;
  font-weight: bold;
}
.git{
  font-size: 25px;
}
#pro{
  font-family: inherit;
  text-shadow: 0px 3px #AFAFAF;
}
#pro:hover{
  text-shadow: 0px 0px 15px #FF0034;
}
