*{
  margin:0;
  padding:0px;
  border:0;
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  font-style:inherit;
  text-decoration:inherit;
  line-height:inherit;
  color:inherit;
}

@font-face {
    font-family: EVILDEAD;
    src: url(EVILDEAD.TTF);
}

html{
  background-color: black;
  color: white;
}

h1{
  font-family: EVILDEAD;
  text-align: center;
  font-size: 60px;
}

body{
  background-color: #2B323D;
  margin: 70px;
}

/*main{
  background-color: black;
  border-top: 200px solid #2B323D;

}*/
